<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a href="index3.html" class="brand-link">
      <span class="brand-text font-weight-light">AdminLTE 3</span>
    </a>
    <div class="sidebar">
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item has-treeview" *ngFor="let x of objMenu">
            <a href="#" class="nav-link" *ngIf="x.tipoMenu==1">
              <i class="nav-icon fas fa-copy"></i>
              <p>
                {{x.nombre}}
                <i class="fas fa-angle-left right"></i>
                <span class="badge badge-info right">{{objMenu.length}}</span>
              </p>
            </a>
            <ul class="nav nav-treeview" style="cursor:pointer">
              <li class="nav-item">
                <a class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>
                    <a routerLink="/{{x.ruta}}">{{x.nombre}}</a>
                  </p>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </aside>
